<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champions</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Champions</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/champions">Champions</a></li>
                <li><a href="/stats">Stats</a></li>
            </ul>
        </nav>
    </header>

    <div id="search">
        <input type="text" id="searchInput" placeholder="Rechercher un champion..." />
    </div>    

    <div id="filters">
        <select id="roleFilter">
            <option value="">Filter by Role</option>
            <option value="ADC">ADC</option>
            <option value="TOP">TOP</option>
            <option value="MID">MID</option>
            <option value="JUNGLE">JUNGLE</option>
            <option value="SUPPORT">SUPPORT</option>
        </select>

        <select id="tierFilter">
            <option value="">Filter by Tier</option>
            <option value="God">God</option>
            <option value="S">S</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select>

        <select id="classFilter">
            <option value="">Filter by Class</option>
            <option value="Mage">Mage</option>
            <option value="Assassin">Assassin</option>
            <option value="Fighter">Fighter</option>
            <option value="Marksman">Marksman</option>
            <option value="Support">Support</option>
            <option value="Tank">Tank</option>
        </select>
    </div>

    <table id="championTable">
        <thead>
            <tr>
                <th><button onclick="sortBy('Name')">Name</button></th>
                <th><button onclick="sortBy('Class')">Class</button></th>
                <th><button onclick="sortBy('Role')">Role</button></th>
                <th><button onclick="sortBy('Tier')">Tier</button></th>
                <th><button onclick="sortBy('Win')">Win %</button></th>
                <th><button onclick="sortBy('Pick')">Pick %</button></th>
                <th><button onclick="sortBy('Ban')">Ban %</button></th>
                <th><button onclick="sortBy('KDA')">KDA</button></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <footer>
        <p>&copy; 2025 Leak Of Legends</p>
    </footer>

    <script>
        const sortOrder = {};   

        async function loadChampionData() {
            const response = await fetch('/api/lol-stats');
            if (!response.ok) {
                console.error('Failed to fetch champion data');
                return;
            }
            const data = await response.json();
            const tableBody = document.querySelector('#championTable tbody');
            data.forEach(row => {
                const tr = document.createElement('tr');
                tr.innerHTML = `
                    <td><a href="/champion_detail?id=${row['Name']}">${row['Name']}</a></td>
                    <td>${row['Class']}</td>
                    <td>${row['Role']}</td>
                    <td>${row['Tier']}</td>
                    <td>${row['Win %']}</td>
                    <td>${row['Pick %']}</td>
                    <td>${row['Ban %']}</td>
                    <td>${row['KDA']}</td>
                `;
                tableBody.appendChild(tr);
            });
        }

        async function sortBy(column) {
            sortOrder[column] = sortOrder[column] === 'ASC' ? 'DESC' : 'ASC';

            try {
                const response = await fetch(`/api/sort?column=${column}&order=${sortOrder[column]}`);
                if (!response.ok) {
                    console.error('Failed to fetch sorted data');
                    return;
                }
                const sortedData = await response.json();
                const tableBody = document.querySelector('#championTable tbody');
                tableBody.innerHTML = '';
                sortedData.forEach(row => {
                    const tr = document.createElement('tr');
                    tr.innerHTML = `
                        <td><a href="/champion_detail.html?id=${row['Name']}">${row['Name']}</a></td>
                        <td>${row['Class']}</td>
                        <td>${row['Role']}</td>
                        <td>${row['Tier']}</td>
                        <td>${row['Win %']}</td>
                        <td>${row['Pick %']}</td>
                        <td>${row['Ban %']}</td>
                        <td>${row['KDA']}</td>
                    `;
                    tableBody.appendChild(tr);
                });
            } catch (error) {
                console.error('Error:', error);
            }
        }

        async function filterData() {
            const roleFilter = document.getElementById('roleFilter').value;
            const tierFilter = document.getElementById('tierFilter').value;
            const classFilter = document.getElementById('classFilter').value;

            if (roleFilter == "ADC" || roleFilter == "TOP" || roleFilter == "MID" || roleFilter == "SUPPORT" || roleFilter == "JUNGLE") {
                column = "Role"
                try {
                    const response = await fetch(`/api/filter?column=${column}&value=${roleFilter}`);
                    if (!response.ok) {
                        console.error('Failed to fetch sorted data');
                        return;
                    }
                    const sortedData = await response.json();
                    const tableBody = document.querySelector('#championTable tbody');
                    tableBody.innerHTML = '';
                    sortedData.forEach(row => {
                        const tr = document.createElement('tr');
                        tr.innerHTML = `
                            <td><a href="/champion_detail.html?id=${row['Name']}">${row['Name']}</a></td>
                            <td>${row['Class']}</td>
                            <td>${row['Role']}</td>
                            <td>${row['Tier']}</td>
                            <td>${row['Win %']}</td>
                            <td>${row['Pick %']}</td>
                            <td>${row['Ban %']}</td>
                            <td>${row['KDA']}</td>
                        `;
                        tableBody.appendChild(tr);
                    });
                } catch (error) {
                    console.error('Error:', error);
                }

                document.getElementById('roleFilter').value = "";
            }


            if (tierFilter == "God" || tierFilter == "S" || tierFilter == "A" || tierFilter == "B" || tierFilter == "C" || tierFilter == "D") {
                column = "Tier"
                try {
                    const response = await fetch(`/api/filter?column=${column}&value=${tierFilter}`);
                    if (!response.ok) {
                        console.error('Failed to fetch sorted data');
                        return;
                    }
                    const sortedData = await response.json();
                    const tableBody = document.querySelector('#championTable tbody');
                    tableBody.innerHTML = '';
                    sortedData.forEach(row => {
                        const tr = document.createElement('tr');
                        tr.innerHTML = `
                            <td><a href="/champion_detail.html?id=${row['Name']}">${row['Name']}</a></td>
                            <td>${row['Class']}</td>
                            <td>${row['Role']}</td>
                            <td>${row['Tier']}</td>
                            <td>${row['Win %']}</td>
                            <td>${row['Pick %']}</td>
                            <td>${row['Ban %']}</td>
                            <td>${row['KDA']}</td>
                        `;
                        tableBody.appendChild(tr);
                    });
                } catch (error) {
                    console.error('Error:', error);
                }

                document.getElementById('tierFilter').value = "";
            }

            if (classFilter == "Mage" || classFilter == "Assassin" || classFilter == "Fighter" || classFilter == "Marksman" || classFilter == "Support" || classFilter == "Tank") {
                column = "Class"
                try {
                    const response = await fetch(`/api/filter?column=${column}&value=${classFilter}`);
                    if (!response.ok) {
                        console.error('Failed to fetch sorted data');
                        return;
                    }
                    const sortedData = await response.json();
                    const tableBody = document.querySelector('#championTable tbody');
                    tableBody.innerHTML = '';
                    sortedData.forEach(row => {
                        const tr = document.createElement('tr');
                        tr.innerHTML = `
                            <td><a href="/champion_detail.html?id=${row['Name']}">${row['Name']}</a></td>
                            <td>${row['Class']}</td>
                            <td>${row['Role']}</td>
                            <td>${row['Tier']}</td>
                            <td>${row['Win %']}</td>
                            <td>${row['Pick %']}</td>
                            <td>${row['Ban %']}</td>
                            <td>${row['KDA']}</td>
                        `;
                        tableBody.appendChild(tr);
                    });
                } catch (error) {
                    console.error('Error:', error);
                }

                document.getElementById('classFilter').value = "";
            }
        }

        document.getElementById('searchInput').addEventListener('input', async function () {
            const searchQuery = this.value.trim().toLowerCase();

            const response = await fetch(`/api/search?input=${searchQuery}`);
            if (!response.ok) {
                console.error('Failed to fetch champion data');
                return;
            }
            const data = await response.json();

            const tableBody = document.querySelector('#championTable tbody');
            tableBody.innerHTML = ''; 

            data.forEach(row => {
                const tr = document.createElement('tr');
                tr.innerHTML = `
                    <td><a href="/champion_detail.html?id=${row['Name']}">${row['Name']}</a></td>
                    <td>${row['Class']}</td>
                    <td>${row['Role']}</td>
                    <td>${row['Tier']}</td>
                    <td>${row['Win %']}</td>
                    <td>${row['Pick %']}</td>
                    <td>${row['Ban %']}</td>
                    <td>${row['KDA']}</td>
                `;
                tableBody.appendChild(tr);
            });
        });

        document.getElementById('roleFilter').addEventListener('change', filterData);
        document.getElementById('tierFilter').addEventListener('change', filterData);
        document.getElementById('classFilter').addEventListener('change', filterData);

        loadChampionData();
    </script>
</body>
</html>
