<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Comparer deux champions</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/champions">Champions</a></li>
                <li><a href="/stats">Stats</a></li>
            </ul>
        </nav>
    </header>

    <div id="compare-section">
        <p>Sélectionnez deux champions à comparer :</p>

        <div id="search">
            <div class="combobox-container">
                <label for="champion1">Champion 1</label>
                <input type="text" id="searchChampion1" placeholder="Rechercher un champion...">
                <select id="champion1"></select>
            </div>

            <div class="combobox-container">
                <label for="champion2">Champion 2</label>
                <input type="text" id="searchChampion2" placeholder="Rechercher un champion...">
                <select id="champion2"></select>
            </div>
        </div>

        <div id="filters">
            <select id="forme">
                <option value="Barre">Barre</option>
                <option value="Cercle">Cercle</option>
                <option value="Point">Point</option>
            </select>
            <button class="button" id="compareButton">Comparer</button>
        </div>
    </div>

    <div id="comparison-images" style="display: none;">
        <h2>Résultats de la comparaison</h2>
        <div id="image-container">
            <img id="image1" src="" alt="Win">
            <img id="image2" src="" alt="Pick">
            <img id="image3" src="" alt="Ban">
            <img id="image4" src="" alt="KDA">
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Leak Of Legends</p>
    </footer>

    <script>
        const champions = [];

        async function loadChampionData() {
            const response = await fetch('/api/lol-stats');
            if (!response.ok) {
                console.error('Failed to fetch champion data');
                return;
            }
            const data = await response.json();
            data.forEach(row => {
                if (!champions.includes(row['Name'])) {
                    champions.push(row['Name']);
                }
            });
            console.log(champions);
        }

        loadChampionData();

        function populateDropdown(dropdownId) {
            const dropdown = document.getElementById(dropdownId);
            champions.forEach(champion => {
                const option = document.createElement("option");
                option.value = champion;
                option.textContent = champion;
                dropdown.appendChild(option);
            });
        }

        function filterDropdown(searchInputId, dropdownId) {
            const searchInput = document.getElementById(searchInputId);
            const dropdown = document.getElementById(dropdownId);

            searchInput.addEventListener("input", () => {
                const searchText = searchInput.value.toLowerCase();
                dropdown.innerHTML = "";
                champions
                    .filter(champion => champion.toLowerCase().includes(searchText))
                    .forEach(filteredChampion => {
                        const option = document.createElement("option");
                        option.value = filteredChampion;
                        option.textContent = filteredChampion;
                        dropdown.appendChild(option);
                    });
            });
        }

        async function loadGraph(champion_1, champion_2, forme) {
            const response = await fetch(`/api/statsDetails?id=${champion_1}&id2=${champion_2}&forme=${forme}`);
            if (!response.ok) {
                console.error('Failed to fetch champion data');
                return;
            }

            const imageBasePath = "/img/";

            if (forme == "Barre"){
                document.getElementById("image1").src = `${imageBasePath}${champion_1}_${champion_2}_bar_Win%.png`;
                document.getElementById("image2").src = `${imageBasePath}${champion_1}_${champion_2}_bar_Pick%.png`;
                document.getElementById("image3").src = `${imageBasePath}${champion_1}_${champion_2}_bar_Ban%.png`;
                document.getElementById("image4").src = `${imageBasePath}${champion_1}_${champion_2}_bar_KDA.png`;
            } else if (forme == "Cercle") {
                document.getElementById("image1").src = `${imageBasePath}${champion_1}_${champion_2}_circle_Win%.png`;
                document.getElementById("image2").src = `${imageBasePath}${champion_1}_${champion_2}_circle_Pick%.png`;
                document.getElementById("image3").src = `${imageBasePath}${champion_1}_${champion_2}_circle_Ban%.png`;
                document.getElementById("image4").src = `${imageBasePath}${champion_1}_${champion_2}_circle_KDA.png`;
            } else if (forme == "Point") {
                document.getElementById("image1").src = `${imageBasePath}${champion_1}_${champion_2}_point_Win%.png`;
                document.getElementById("image2").src = `${imageBasePath}${champion_1}_${champion_2}_point_Pick%.png`;
                document.getElementById("image3").src = `${imageBasePath}${champion_1}_${champion_2}_point_Ban%.png`;
                document.getElementById("image4").src = `${imageBasePath}${champion_1}_${champion_2}_point_KDA.png`;
            }
                    
            document.getElementById("comparison-images").style.display = "block";
        }

        document.addEventListener("DOMContentLoaded", async () => {
            await loadChampionData();
            populateDropdown("champion1");
            populateDropdown("champion2");

            filterDropdown("searchChampion1", "champion1");
            filterDropdown("searchChampion2", "champion2");

            document.getElementById("compareButton").addEventListener("click", () => {
                const champion1 = document.getElementById("champion1").value;
                const champion2 = document.getElementById("champion2").value;
                const forme = document.getElementById("forme").value;

                if (champion1 && champion2) {
                    loadGraph(champion1, champion2, forme);
                } else {
                    alert("Veuillez sélectionner deux champions !");
                }
            });
        });
    </script>
</body>
</html>
